@model IEnumerable<Online_Survey.Models.Address>
@{
    Layout = "_AdminLayout";
}
@{
    ViewData["Title"] = "Index";
}

<h1>Addresses</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus"></i> Create New
    </a>
</p>
<table class="table table_normal table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Village)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-bordered">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.District)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Village)
                </td>
                <td>
                    <!-- Edit Button -->
                    <a asp-action="Edit" asp-route-id="@item.Add_no" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <!-- Details Button -->
                    <a asp-action="Details" asp-route-id="@item.Add_no" class="btn btn-info btn-sm">
                        <i class="fa fa-info-circle"></i> Details
                    </a>
                    <!-- Delete Button -->
                    <a asp-action="Delete" asp-route-id="@item.Add_no" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
