@model Online_Survey.Models.Answers
@{
    Layout = "_AdminLayout";
}
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Answers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions.Question_text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer_text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer_text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created_at)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Answer_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
